.branding {
    height: 180px !important;
}

.signin-form {
    display: flex;
    flex-direction: column;
}
.signin-form > * {
    width: 80%;
}

.form-input-prefix {
    margin: 0px 10px;
}
.form-button-row button {
    flex: 1 1 auto;
}
.form-button-spacer {
    margin: 0px 8px;
}

.signup-link {
    text-decoration: none;
}
.register-link {
    text-align: center;
}