<div  class="container">

    <mat-list>
        <!-- Form Branding -->
        <mat-list-item class="branding-container">
            <img src="assets/images/Logo_Transparent-scaledown.png" class="branding-logo" />
        </mat-list-item>

        <!-- Sign In Form -->
        <mat-list-item class="signin-form-container">
            <form [formGroup]="loginForm" class="signin-form" (ngSubmit)="doSignIn(loginForm.controls['username'].value, loginForm.controls['password'].value)">
                <mat-form-field>
                    <input matInput formControlName="username" placeholder="Username" />
                    <span matPrefix><i class="ti-user form-input-prefix"></i></span>
                    <mat-error *ngIf="loginForm.controls['username'].invalid">{{ getErrorUsername() }}</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput formControlName="password" placeholder="Enter your password" [type]="hide ? 'password' : 'text'" />
                    <button mat-icon-button matSuffix (click)="hide = !hide" type="button" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <span matPrefix><i class="ti-lock form-input-prefix"></i></span>
                    <mat-error *ngIf="loginForm.controls['password'].invalid">{{ getErrorPassword() }}</mat-error>
                </mat-form-field>

                <div class="form-button-row">
                    <button mat-raised-button color="primary" type="button" class="form-button-spacer">Forgot Password</button>
                    <button mat-raised-button color="primary" type="submit">Login</button>
                </div>
            </form>
        </mat-list-item>

        <mat-list-item>
            <p matBody>Need an account? <a class="signup-link" [routerLink]="['/sign-up']">Sign up</a> here</p>
        </mat-list-item>
    </mat-list>



</div>
