<!-- App Top Bar -->
<app-top-bar></app-top-bar>

<div class="min-h-100">
    <mat-vertical-stepper linear="false" #stepper>
        <mat-step [stepControl]="postForm">
            <form [formGroup]="postForm">
                <ng-template matStepLabel>Media</ng-template>
                <mat-form-field>
                    <mat-label>Type</mat-label>
                    <mat-select [(value)]="type" (selectionChange)="nullMedia()">
                        <mat-option *ngFor="let type of mediaTypes" [value]="type">
                            {{type}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="type === 'URL'">
                    <input matInput placeholder="URL" #urlInput formControlName="firstCtrl" (change)="previewUrl(urlInput.value)">
                </mat-form-field>
                <input hidden (change)="selectedMedia()" #photoInput type="file" accepts="image/*">
                <input hidden (change)="selectedMedia()" #videoInput type="file" accepts="video/*">
                <div>
                    <button class="mr-2" *ngIf="type === 'Video'" mat-raised-button color="primary" (click)="videoInput.click()">{{type}}</button>
                    <button class="mr-2" *ngIf="type === 'Photo'" mat-raised-button color="primary" (click)="photoInput.click()">{{type}}</button>
                    <button mat-raised-button color="primary" matStepperNext>Next</button>
                </div>
                <div *ngIf="media" class="media-container mt-5 mx-auto d-block">
                    <img *ngIf="type === 'Photo' && mediaPreview" [src]="mediaPreview">
                    <video *ngIf="type === 'Video' && mediaPreview" class="w-100" controls loop autoplay>
                        <source [type]="media.type" [src]="mediaPreview">
                        Your device does not support video preview
                    </video>
                    <mat-card *ngIf="type === 'URL'">
                        <mat-card-header>
                            <mat-card-title class="mb-3">{{ mediaPreview?.title }}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image [src]="mediaPreview?.image" [alt]="mediaPreview?.title">
                        <mat-card-content>
                            <p class="mt-3">{{ mediaPreview?.description }}</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="postForm">
            <form [formGroup]="postForm">
                <ng-template matStepLabel>Caption</ng-template>
                <mat-form-field>
                    <input matInput placeholder="Caption" formControlName="secondCtrl">
                </mat-form-field>
                <div>
                    <button class="mr-2" mat-raised-button color="primary" matStepperPrevious>Back</button>
                    <button class="mr-2" mat-raised-button color="primary" matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Post</ng-template>
            You are now done.
            <div>
                <button class="mr-2" mat-raised-button color="primary" matStepperPrevious>Back</button>
                <button class="mr-2" mat-raised-button color="primary" (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>
    </mat-vertical-stepper>
</div>

<!-- App Botttom Bar -->
<app-bottom-bar></app-bottom-bar>
