<mat-nav-list>
    <!-- Mat Bottom List Options-->
    <mat-list-item (click)="setType('URL')">
            <i class="ti-world mr-2"></i> URL
        </mat-list-item>
        <mat-divider></mat-divider>
    <mat-list-item (click)="setType('Camera')">
        <i class="ti-camera mr-2"></i> Camera
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item (click)="setType('Photo')">
        <i class="ti-gallery mr-2"></i> Photo
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item (click)="setType('Video')">
        <i class="ti-video-camera mr-2"></i> Video
    </mat-list-item>
</mat-nav-list>