.bottom-bar-icon {
    flex: 1 1 auto;
}
.bottom-bar {
    position: sticky;
    position: -webkit-sticky;
    display: flex;
    bottom: 0;
    z-index: 1000;
}
@media (min-width: 992px) {
    .bottom-bar {
        min-width: 100vw;
        margin-left: calc(-50vw/2);
    }
}
