<mat-toolbar class="bottom-bar mat-elevation-z2" [class.app-background-color]="!isDark" color="primary">
    <span class="bottom-bar-icon">
        <i [routerLink]="['/']" [class.icon-black]="!isDark" class="ti-home"></i>
    </span>
    <span class="bottom-bar-icon">
        <i [routerLink]="['/recommendations']" [class.icon-black]="!isDark" class="ti-search"></i>
    </span>
    <span class="bottom-bar-icon">
        <i [routerLink]="['/new-post']" [class.icon-black]="!isDark" class="ti-plus"></i>
    </span>
    <span class="bottom-bar-icon">
        <i [routerLink]="['/notifications']" [class.icon-black]="!isDark" class="ti-heart"></i>
    </span>
    <span>
        <i [routerLink]="['/profile', userId]" [class.icon-black]="!isDark" class="ti-user"></i>
    </span>
</mat-toolbar>
