<!-- Interaction Button Row -->
<mat-list-item>
    <span>
        <!-- TODO: implement repost popup -->
        <mat-icon mat-list-icon class="ti-heart" [class.interaction-bar-icon-red]="isLiked(post)" (dblclick)="likePost(post)"></mat-icon>
        <mat-icon mat-list-icon class="ti-comment interaction-bar-icon-spacer" [routerLink]="['/post', post.id]"></mat-icon>
        <mat-icon mat-list-icon class="ti-reload interaction-bar-icon-spacer" (click)="repost(post)"></mat-icon>
    </span>
</mat-list-item>
