@import '~@angular/material/theming';


@mixin component-themes($theme) {
    $background: map-get($theme, background);
    $background-color: map-get($background, background);

    $primary: mat-palette($mat-grey, 800, 500, 900);
    $primaryColor: mat-color($primary, default);
    $primaryColorLight: mat-color($primary, lighter);
    $textColor: mat-color($background, card);

    .app-background-color {
        background-color: $background-color !important;
    }

    .dropdown-menu {
        width: 95vw;
        max-width: 500px;
    }
    .dark-theme .dropdown-menu {
        color: $textColor !important;
        background-color: $primaryColor !important;
    }
    .dark-theme .dropdown-menu > li.active {
        background-color: $primaryColorLight !important;
    }
}
