<!-- App Top Bar -->
<app-top-bar></app-top-bar>

<div class="min-h-100">
    <mat-list *ngFor="let post of posts">
        <!-- Post Display -->
        <app-post-display [post]=post></app-post-display>

        <!-- Post Interaction Row -->
        <app-post-interaction-bar [post]=post></app-post-interaction-bar>

        <!-- Comment Preview -->
        <app-comment-preview [post]=post></app-comment-preview>
        <mat-divider></mat-divider>
    </mat-list>

    <span *ngIf="!posts">
        <p class="mat-body error-placeholder mt-4">
            It doesn't look like there's anything here.<br>
            Try following some more active accounts?
        </p>
    </span>
</div>

<!-- App Botttom Bar -->
<app-bottom-bar></app-bottom-bar>
