<div *ngFor="let post of posts; let liked = liked">
    <mat-list>
        <mat-list-item>
            <img matListAvatar [src]="post.author.profilePic" class="avatar"  [routerLink]="['/profile', post.author.id]"/>
            <h3 matLine [routerLink]="['/profile', post.author.id]">
                {{post.author.username}}
            </h3>
            <span *ngIf="post.repost">
                <i class="ti-reload"></i>
            </span>
        </mat-list-item>
        <mat-list-item>
            <p>
                {{post.caption}}
            </p>
        </mat-list-item>
        <img class="feed-image" [src]="post.media" (dblclick)="this.liked = !this.liked"/>
        <mat-list-item>
            <span>
                <mat-icon mat-list-icon class="ti-heart" [class.feed-icon-red]="liked" (dblclick)="this.liked = !this.liked"></mat-icon>
                <mat-icon mat-list-icon class="ti-comment feed-icon-spacer" [routerLink]="['/post', post.id]"></mat-icon>
                <mat-icon mat-list-icon class="ti-reload feed-icon-spacer"></mat-icon>
            </span>
        </mat-list-item>
        <mat-list-item  *ngIf="post.comments.length" class="feed-comment-container" [routerLink]="['/post', post.id]">
            <span>
                <div *ngFor="let comment of post.comments; let i = index" class="feed-comment">
                    <span *ngIf="i < 2">
                        <b>{{comment.author.username}}</b> {{comment.text}}
                    </span>
                </div>
            </span>
        </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
</div>
