.comment-form {
    width: 98%;
    max-height: 50px;
}
.comment-form-input {
    width: 100%;
    padding: 0 5px 0 5px;
    height: 50px;
}

.comment-container {
    flex-direction: row;
    align-content: flex-start;
}
.comment-text-container {
    flex: 0 1 auto;
    flex-direction: column;
    align-content: flex-start;
}
.comment-container > img {
    flex: 0 0 auto;
    object-fit: cover;
}
.comment-container > p {
    flex: 0 1 auto;
}
.datetime {
    color: #888888;
    font-size: 12px;
}

@keyframes highlight {
    0% {
      background-color: #871F78;
    }
    100% {
      background-color: none;
    }
}

.highlight {
    animation: highlight 3s;
}