<div>
    <mat-list class="profile-container">
        <mat-list-item class="profile-row">
            <img matListAvatar [src]="profile.profilePic" class="profile-avatar"/>
        </mat-list-item>
        <mat-list-item class="profile-row">
            <h4 mat-line>{{profile.postCount}}</h4>
            <p mat-line>Posts</p>
        </mat-list-item>
        <mat-list-item class="profile-row">
            <h4 mat-line>{{profile.followerCount}}</h4>
            <p mat-line>Followers</p>
        </mat-list-item>
        <mat-list-item class="profile-row">
            <h4 mat-line>{{profile.followingCount}}</h4>
            <p mat-line>Followings</p>
        </mat-list-item>
    </mat-list>
    <p class="mat-body profile-text-container">
        <span class="profile-username-text">{{profile.username}}</span><br>
        {{profile.bio}}
    </p>
    <button mat-stroked-button class="profile-button" (click)="editProfile()" *ngIf="isMe(profile.id)">Edit Profile</button>
    <button mat-raised-button class="profile-button" color="primary" (click)="followUser(profile.id)" *ngIf="!isMe(profile.id) && !isFollowing(profile.id)">Follow</button>
    <span class="profile-contact-button-row">
        <a [href]="profile.contactInfo.website" mat-raised-button class="profile-contact-button" *ngIf="!isMe(profile.id) && profile.contactInfo.website">Website</a>
        <a [href]="profile.contactInfo.email" mat-raised-button class="profile-contact-button" *ngIf="!isMe(profile.id) && profile.contactInfo.email">Email</a>
    </span>
    <mat-divider></mat-divider>
</div>
