h4 {
    font-weight: bold !important;
}
.profile-button {
    margin: 6px 8px;
    width: -webkit-fill-available;
}
.profile-text-container {
    padding-left: 16px;
}
.profile-username-text {
    font-weight: bold;
}
.profile-info {
    margin-top: 30px;
    display: flex;
    text-align: center;
}
.profile-container {
    margin: 0 5px 0 5px;
    min-height: calc(100% - 132px);
    margin-top: -10px;
}
.profile-contact-button-row {
    margin: 0 8px 8px 8px;
    display: flex;
}
.profile-row, .profile-contact-button {
    flex: 1 1 auto;
}
.profile-avatar {
    height: 80px !important;
    width: 80px !important;
}
.profile-grid {
    margin-top: 10px;
}
.post {
    object-fit: cover;
    width: 100%;
}
.text-post {
    text-align: center;
    font-size: large;
    font-weight: 500;
    font-family: sans-serif;
    text-overflow: ellipsis;
    overflow: auto;
}
mat-grid-tile {
    border-color: #555;
    border-style: solid;
    border-width: 0.5px;
}
