<!-- App Top Bar -->
<mat-toolbar class="top-bar mat-elevation-z2" [class.app-background-color]="!isDark" color="primary">
    <div class="top-bar-logo logo mx-a w-100"></div>
    <i *ngIf="isMe()" class="ti-menu mr-3" [class.icon-black]="!isDark" (click)="sidenav.toggle()"></i>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container" hasBackdrop="false" (backdropClick)="sidenav.close()">
    <mat-sidenav
        class="sidenav ta-c"
        #sidenav
        autoFocus="false"
        disableClose="false"
        mode="over"
        position="end"
        fixedInViewport="true"
        [fixedTopGap]="topBarHeight"
        [fixedBottomGap]="topBarHeight">
        <div>
            <mat-accordion>
                <!-- Account Settings Panel -->
                <mat-expansion-panel class="w-100">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Account Settings
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <span class="d-flex flex-column ml-2 mb-3">
                        <mat-slide-toggle
                            [formControl]="privateAccount">Private Account</mat-slide-toggle>
                        <mat-slide-toggle
                            [formControl]="displayLikes">Display Likes</mat-slide-toggle>
                        <mat-slide-toggle
                            [formControl]="unknownDevices"
                            hidden>Unknown Devices</mat-slide-toggle>
                    </span>
                </mat-expansion-panel>

                <!-- App Settings Panel -->
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            App Settings
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-slide-toggle [checked]="isDark" (change)="dark.setDarkTheme(!isDark)">Dark Mode</mat-slide-toggle>

                </mat-expansion-panel>
            </mat-accordion>

            <!-- Logout -->
            <p class="mt-3" (click)="auth.doSignOut()">Logout</p>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-profile-display
            *ngIf="isMe()"
            [profile]="profile"
            [posts]="posts"
            [isRequested]="isRequested"
            [isMe]="isMe()"
            [isFollowing]="isFollowing()"
            [fetchedAllPosts]="fetchedAllPosts"
            (fetchMorePosts)="fetchMorePosts()"
            (followUser)="followUser($event)"></app-profile-display>
    </mat-sidenav-content>
</mat-sidenav-container>

<app-profile-display
    *ngIf="!isMe()"
    [profile]="profile"
    [posts]="posts"
    [isRequested]="isRequested"
    [isMe]="isMe()"
    [isFollowing]="isFollowing()"
    [fetchedAllPosts]="fetchedAllPosts"
    (fetchMorePosts)="fetchMorePosts()"
    (followUser)="followUser($event)"></app-profile-display>

<!-- App Botttom Bar -->
<app-bottom-bar></app-bottom-bar>
