.top-bar-logo {
    margin: auto;
    height: 34px;
}
.top-bar-input {
    margin-right: auto;
    margin-left: auto;
    margin-top: 0.4rem;
    width: 74%;
}
.top-bar {
    position: sticky;
    position: -webkit-sticky;
    display: flex;
    top: 0;
    z-index: 1000;
}
@media (min-width: 992px) {
    .top-bar {
        min-width: 100vw;
        margin-left: calc(-50vw/2);
    }
}
