@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

::-webkit-scrollbar {
    width: 0px;
    display: none;
}
*, *:focus, *:active {
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}
html, body {
    height: 100%;
    margin: 0px;
}


.min-h-100 {
    min-height: calc(100vh - 112px) !important;
}
.avatar {
    width: 40px;
}
.comment-form-input .mat-form-field-wrapper .mat-form-field-flex {
    padding-top: 0;
}
