@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

::-webkit-scrollbar {
    width: 0px;
    display: none;
}
*, *:focus, *:active {
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}
html, body {
    height: 100%;
    margin: 0px;
}

.container {
    min-height: 100%;
    display: flex;
    justify-content: center;
}
.avatar {
    width: 40px;
}
app-profile {
    width: 100%;
    margin: 0 8px 0 8px;
}
.comment-form-input .mat-form-field-wrapper .mat-form-field-flex {
    padding-top: 0;
}
