/* Vendor imports */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "assets/css/themify-icons.css";

/* Theme Specific Styling */
@import "assets/css/theme.scss";

::-webkit-scrollbar {
    width: 0px;
    display: none;
}
*, *:focus, *:active {
    /* Remove accessibility outline */
    outline: none !important;
    box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
    -webkit-tap-highlight-color: transparent !important;
    /* Set better text rendering */
    text-rendering: optimizeLegibility;
    /* Optimize mobile scrolling and longpress */
    -webkit-overflow-scrolling: touch;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-appearance: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    display: flex;
    scroll-behavior: smooth;
}
body {
    flex: 1;
    max-width: 100%;
    margin: 0px;
}

.mat-card-header-text{
    width: 100%;
}
.logo-branded, .logo {
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 70px;
    background-position: center;
}
.logo {
    background-image: url("assets/images/logo-marker.png");
}
.logo-branded {
    background-image: url("assets/images/Logo_Transparent-scaledown.png") !important;
}
.dark-theme .logo-branded {
    background-image: url("assets/images/Logo_Transparent_White-scaledown.png") !important;
}
.dark-theme .logo {
    background-image: url("assets/images/logo-white.png");
}
.ptr--icon,
.ptr--text {
    color: rgba(0, 0, 0, 0.87) !important;
}
.dark-theme .ptr--icon,
.dark-theme .ptr--text {
    color: rgba(250, 250, 250, 0.87) !important;
}
.text-black,
.icon-black {
    color: rgba(0, 0, 0, 0.87);
}
.mat-dialog-container {
    padding: 0px !important;
}
.avatar {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
}
.ta-c {
    text-align: center !important;
}
.error-placeholder {
    text-align: center;
    font-style: italic;
    color: #888;
}
.bottom-bar {
    box-shadow:
        0 -1px 1px -2px rgba(0,0,0,.2),
        0 -1px 2px 0 rgba(0,0,0,.14),
        0 -1px 5px 0 rgba(0,0,0,.12)
}
.comment-form-input .mat-form-field-wrapper .mat-form-field-flex {
    padding-top: 0;
}
.min-h-100 {
    min-height: calc(100vh - 128px) !important;
}
@media (max-width: 599px) {
    .min-h-100 {
        min-height: calc(100vh - 112px) !important;
    }
}
