<!-- Profile Row -->
<mat-list-item>
    <img matListAvatar [src]="post.author.profilePic" class="avatar" (press)="popup($event)" [routerLink]="['/profile', post.author.username]"/>
    <h3 matLine>
        <span [routerLink]="['/profile', post.author.username]" class="post-username-text mat-h3">{{post.author.username}}</span>
        <!-- Update to check if user following author -->
        <a mat-button color="accent" (click)="followUser(post.author.id)" *ngIf="!isFollowed">Follow</a>
    </h3>
    <span *ngIf="post.repost"><i class="ti-reload"></i></span>
    <span class="post-datetime">{{ post.createdAt | dateDiff }}</span>
    <i class="ti-menu-alt ml-3" [matMenuTriggerFor]="menu"></i>
    <!-- Post Menu -->
    <mat-menu #menu="matMenu" class="mat-elevation-z2">
        <button mat-menu-item *ngIf="post.author.id == user.id" (click)="deletePost()"><i class="ti-trash"></i> Delete</button>
        <button mat-menu-item *ngIf="post.author.id !== user.id" (click)="reportPost()"><i class="ti-na"></i> Report</button>
        <button mat-menu-item  (click)="copyURL()"><i class="ti-link"></i> Copy Link</button>
    </mat-menu>
</mat-list-item>

<span *ngIf="post.type.startsWith('image')">
    <!-- Caption Row -->
    <mat-list-item *ngIf="post.caption">
        <p class="mat-body">{{post.caption}}</p>
    </mat-list-item>

    <!-- Post Media -->
    <img class="post-image" [src]="post.media" (dblclick)="likePost()"/>
</span>

<span *ngIf="post.type.startsWith('video')">
    <!-- Caption Row -->
    <mat-list-item *ngIf="post.caption">
        <p class="mat-body"><span [innerHTML]="post.caption | tag" appRouteTransformer></span></p>
    </mat-list-item>

    <!-- Post Media -->
    <video class="post-image"
        (dblclick)="likePost()"
        playsinline
        loop
        controls
        disablePictureInPicture
        controlsList="nofullscreen nodownload"
        preload="metadata">
        <source class="post-image"
            src="{{post.media}}#t=0.001"
            [type]="post.type"/>
    </video>
</span>

<span *ngIf="post.type == 'text'">
    <mat-divider></mat-divider>
    <!-- Caption as Post -->
    <mat-list-item class="text-post-container" (dblclick)="likePost(post)" >
        <span class="text-post my-3" [class.text-post-concat]="post.concat" (click)="post.concat = !post.concat"[innerHTML]="post.caption | tag" appRouteTransformer></span>
    </mat-list-item>
    <mat-divider></mat-divider>
</span>

<!-- TODO: Display URL Post -->
<!-- TODO: Add repost section of posts -->
