/* Repost Scaling */
.card, .card-body {
    max-height: 250px;
}
.card-body img {
    object-fit: cover;
    max-height: 192px;
}
/* Main Post Sizing */
.post-username-text {
    margin-right: 5px;
}
.post-image {
    width: 100%;
    margin: 0px;
}
.post-datetime {
    color: #888888;
    font-size: 14px;
    margin-left: 15px;
}
.text-post-container {
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    justify-content: center;
	min-height: 200px;
	height: auto;
    text-align: center;
}
.text-post {
    display: -webkit-box;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    margin: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: x-large;
}
.bg-post-repost {
    background-color: #eee;
}
.text-post-concat {
    -webkit-line-clamp: 5;
}