<!-- TODO: Make menu functional and relevant -->
<mat-nav-list class="m-3 p-0">
    <mat-divider></mat-divider>
    <mat-list-item class="h-100" (click)="close('example action')">
        <p class="m-3">Report</p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="h-100" (click)="close('example action 2')">
        <p class="m-3">Delete</p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="h-100" (click)="close('example action 3')">
        <p class="m-3">Something Else</p>
    </mat-list-item>
    <mat-divider></mat-divider>
</mat-nav-list>