<!-- Comment Display Row -->
<h3 matSubheader class="feed-subheader-text" [routerLink]="['/post', post.id]">View more comments</h3>
<mat-list-item *ngIf="post.comments.length" class="post-comment-container" [routerLink]="['/post', post.id]">
    <span>
        <div *ngFor="let comment of comments; let i = index" class="post-comment">
            <span *ngIf="i<2" class="mat-body">
                <b>{{comment.author.username}}</b> {{comment.text}}
            </span>
        </div>
    </span>
</mat-list-item>
